html(ng-app='ChoresViewApp')
  head
    title Chores Simples
    meta( charset='utf-8' )
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    script(type='text/javascript').
        var app = angular.module("ChoresViewApp", []); 

        app.controller("ChoreController", function($scope, $http) {

            $scope.postChore = function(){
                $http({
                    method :'POST',
                    url :'http://localhost:8080/chore',
                    data:{
                        'name':$scope.name,
                        'description': $scope.description
                    },
                    headers: {
                        'Content-type':'application/json;charset=utf-8'
                    }
                }).then(function mySuccess(response) {
                    console.log(response.data);
                    $scope.selectChore();
                }, function myError(response) {
                    //console.log(response.data);
                });
            }

            $scope.putChore = function(){
                $http({
                    method:'PUT',
                    url:'http://localhost:8080/chore',
                    data:{
                        'id': $scope.id,
                        'name': $scope.name,
                        'description': $scope.description
                    },
                    headers:{
                        'Content-type': 'application/json;charset=utf-8'
                    }
                }).then(function mySuccess(response) {
                    console.log(response.data);
                    $scope.selectChore();
                }, function myError(response) {
                    //console.log(response.data);
                });
            }

            $scope.deleteChore = function(value){
                console.log(value);
                $http({
                    method : 'DELETE',
                    url : 'http://localhost:8080/chore',
                    data:{
                        'id': value.id,
                        'name': value.name,
                        'description': value.description
                    },
                    headers:{
                        'Content-type': 'application/json;charset=utf-8'
                    }
                }).then(function mySuccess(response) {
                    console.log(response.data);
                    $scope.selectChore();
                }, function myError(response) {
                    //console.log(response.data);
                });
            }

            $scope.selectChore = function(){
                $http({
                    method : 'GET',
                    url : 'http://localhost:8080/chore'
                }).then(function mySuccess(response) {
                    $scope.chores = response.data;
                }, function myError(response) {
                    console.log(response.data);
                });
            }
        });

    style.
        body{
            background-color:#24CE8B;
        }
        .choresContent {
            margin: 0px auto;
            text-align: center;
            width:550px;
            background-color:white;
            padding:20px;
            border: 2px outset #83938D;
            border-radius:60px 20px;
        }
  body
    div(class='choresContent')
        h2 Chores or Task
        p ID: 
                    input(type='textbox', name='id',placeholder='ID Chore',class='form-control',ng-model="id")
        p Name: 
                    input(type='textbox', name='name',placeholder='Chore Name',class='form-control',ng-model="name")
        p Description:
                    textarea(rows='5' name='description',class='form-control',ng-model="description")
        div(ng-controller='ChoreController')
            input(type='button', value='Post',name='postButton',class='btn btn-warning btn-block',ng-click='postChore()')
            input(type='button', value='Put',name='putButton',class='btn btn-primary btn-block',ng-click='putChore()')
            hr
            h4 Task in DataBase
            table(class='table table-striped table-hover',ng-init='selectChore()')
                thead
                    tr
                        th(scope='col') Id     
                        th(scope='col') Name
                        th(scope='col') Description
                        th(scope='col') 
                tbody
                    tr(ng-repeat="chore in chores")
                        td {{chore.id}}
                        td {{chore.name}}
                        td {{chore.description}}
                        td
                            input(type='button', value='Delete',name='deleteButton',class='btn btn-danger btn-sm',ng-click='deleteChore(chore)')
                            


    
    
    